.modal {
  font-family: 'Montserrat', sans-serif;
  max-width: 1163px;
  //max-width: 1014px;
  background: #FDFDFD;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.30);
  box-sizing: border-box;
  border-radius: 48px;
  //padding: 106px 83px 126px 125px;
  padding: 9.2% 6.8% 10.2% 10.8%;
}

.modal__title {
  text-transform: capitalize;
  //font-size: 4.3vw;
  font-size: 52px;
  color: #000000;
  letter-spacing: -0.14px;
  margin: 0;
}

.modal__text {
  margin-top: 81px;
  font-size: 22px;
  color: #727272;
  letter-spacing: -0.11px;
}

.modal__container {
  //margin-left: 483px;
  //margin-left: 358px;
  padding-left: 38%;
  background-image: url(img/shop_center-icon.png);
  background-repeat: no-repeat;
  //background-size: 300px;
  background-size: 32%;
  background-position: left 20%; // left 10%;
  position: relative;
}

.modal__container::before {
  content: "";
  display: block;
  position: absolute;
  //width: 113px;
  //height: 113px;
  border-radius: 50%;
  background: #FDFDFD;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.30);
  background-image: url("img/shopping_cart_love-icon.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
  
  width: 10px;
  height: 10px;
  padding: 6%;
  top: 56%;
  left: 20%;
}

.modal__input {
  margin-top: 34px;
}

.modal__button {
  margin-top: 34px;
  display: block;
}

@media (min-width: 1165px) {
  .modal {
    padding: 106px 83px 126px 125px;
  }
}

@media (max-width: 870px) {
  .modal {
    padding: 50px 50px;
    background-position: center 120px;
    background-size: 170px;
  }
  
  .modal__title {
    font-size: 35px;
    text-align: center;
  }
  
  .modal__text {
    font-size: 20px;
    text-align: center;
  }
  
  .modal__container {
    padding: 0;
    //padding-top: 150px;
    padding-top: 30%;
    background-position: center 5%;
  }
  
  .modal__container::before {
    top: 27%;
    left: 55%;
  }
}
