.subscribe-button {
  width: 100%;
  box-sizing: border-box;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 3.92px;
  text-align: left;
  border-radius: 56px;
  border: none;
  line-height: 35px;
  background: url("img/email-icon.png") 75% center, linear-gradient(-270deg, #049F77 0%, #677BBF 98%);
  background-repeat: no-repeat;
  text-transform: uppercase;
  padding: 6% 30%;
  background-size: 45px, auto;
}

@media (max-width: 875px) { 
  .subscribe-button {
    padding: 4% 30%;
    font-size: 20px;
    background-size: 35px, auto;
    background-position: 68% center;
  }
}

@media (max-width: 570px) {
  .subscribe-button {
    background-position: 80% center;
    padding: 4% 20%;
  }
}